
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    
}

a {
    text-decoration: none;
}

.flex_space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 8px;
    height: 50px;
    width: 50px;
    
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-right: 20px;
    text-transform: uppercase;
    padding: 15PX;
}

header ul li a {
    color: #000;
    transition: 0.3s;
}

header ul li a:hover {
    color: #7fc142;
}




.pri-btn {
    padding: 15px 30px;
    background: #cccccc;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 3rem;
}
.main {
    position: relative;
    height: calc(100vh - 70px);
    background-image: url('Images/img1.jpg');
    background-size: cover;
    background-position: center;
    
}
.navlinks{
    background: #7fc142;
}
h1{
    font-size: 80px;
    font-family: serif;
    font-weight: 400;
    padding-top: 20%;
    padding-left: 20px;
    
    }
    .r-btn{
        padding: 15px 30px;
        background: #cccccc;
        font-weight: bold;
        color: black;
        border: none;
        border-radius: 3rem;
        padding-left: 20px;
    }
    .c-btn{
        padding: 15px 30px;
        background: #7fc142;
        font-weight: bold;
        border: none;
        border-radius: 3rem;
        padding-left: 20px;
    }
    
    #about{

        height: 600px;
        background-color: #7fc142;
    }
    #rooms{
        height: 1100px;
        background-color:white;
    }
    #contact{
        height: 800px;
        background-color: #7fc142;
    }
   
    html{
        scroll-behavior: smooth;
    }
    .footer{
        display: flex;
        height: 400px;
        width: auto;
        background-color: #7fc142;
    }
    h2{
        font-family: serif;
        font-size:30px ;
        font-weight: bold;
        margin: 50px auto;
    }
    .abt{
        position: absolute;
        font-family: serif;
        width: 70%;
        left: 15%;
        top: 100%;
        font-size: 20px;
    }
    .img_bnd{
        float: right;
        width: 35%;

    }
    .box{
        float: left;
        padding: 20px;   
    }

    .box img{
        border-radius: 1rem;
        display: grid;
        margin-left: 30px;
    
    }
    .box button{
        padding: 15px 30px;
        background: #7fc142;
        font-weight: bold;
        border: none;
        border-radius: 3rem;
        padding-left: 20px;

    }
    .cont{
        width: 80%;
        margin: 50px auto;
    }
    .contact_box{
        background-color: #cccccc;
        display: flex;
    }
    .contact-left{
        flex-basis: 60%;
        padding: 40px 60px;
    }
    .contact-right{
        flex-basis: 40%;
        padding: 40px;
        background: orange;
        color: #fff;
    }
    h4{
        margin-bottom: 10px;
        font-size: 20px;
    }
    .cont p{
        margin-bottom: 40px;
    }
     
    .input-row{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    input{
        width: 100%;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        padding-bottom: 5px;
    }
    textarea{
        width: 100%;
        border: 1px solid #ccc;
        outline: none;
        padding: 10px;
        box-sizing: border-box;
    }
    form button{
        outline: none;
        background: #7fc142;
        font-weight: bold;
        border: none;
        border-radius: 3rem;
        width: 100%;
        margin-top: 20px;
        height: 35px;

    }
    tr td:first-child{
        padding-right: 20px;
    }
    .footer-cont{
        max-width: 1170px;
        margin:auto;

    }
    .footer{
        background-color: #fff;
        margin: 0;
    }
    .footer ul{
        list-style: none;
    }
    .row{
        display: flex;
        
    }
    .footer-col{
        padding: 0 70px;
    }
    .footer-col h5{
        font-size: 18px;
        color: #000;
        text-transform: capitalize;
        font-weight: bold;
        margin-bottom: 40px;
        
        
    }
   
    .footer-col ul li a{
        font-size: 20px;
        text-decoration: none;
        font-weight: 300;
        display: inline;
    }
    .footer-col .social-links a {
        display: inline-block;
        text-decoration: none;
        height: 30px;
        width: 30px;
        background-color:#7fc142;
        margin: 2px;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
    }
     
    
    
   